# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Generated assets
# To generate these run the `runData` run configuration
# Do not include these into the repo
src/generated/*

# Files from Forge MDK
forge*changelog.txt

# log files
logs/*.log
java_*.hprof